@import '../../variables';

.Layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Layout__Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 0.5rem 1rem;
    text-align: center;
    background: $project-grey;
    color: white;
}

.Footer__Author, .Footer__Link {
    color: white;
}
