.QuestionAndAnswers__HrComment--disabled {
  color: grey;
}

.QuestionBlock__ControlsAndDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.QuestionBlock__Answers--verticallyCentered {
  align-items: center;
}
