.QuestionAndAnswers__HrComment--disabled {
  color: grey;
}

.QuestionBlock__ControlsAndDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 1rem;
}
